@import 'variable';
@import 'base';

#app {
  min-height: 100vh;
  font-family: $font-family;

  a {
    color: #2c3e50;
    font-weight: bold;
  }

  .router-link-active {
    color: #42b983;
  }

  .outside__router{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info-content{
    width: 100%;

    .info-content__links{
      width: 100%;
      justify-content: center;
      display: flex;
      align-items: center;
      
      a{
        margin: 0 0.5rem;
      }
    }

    p{
      text-align: center;
    }
  }
}
